@model HomeCarePro.Models.ViewModel.LoginSignUpViewModel;
@{
    ViewData["Title"] = "signup";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3 mt-5 border border-primary rounded pt-5 pb-5 pl-5 pr-5 ">
            <div class="text-center">
                <h1 class="text-info">Registration Form</h1>
            </div>
            <form method="post" asp-action="signup">
               <div class="form-group">
                    <label asp-for="username">Username</label>
                    <input type="text" asp-for="username" placeholder="Enter a Username" class="form-control" autocomplete="off" />
               </div>
                <div class="form-group">
                    <label asp-for="password">Password</label>
                    <input type="password" asp-for="password" placeholder="Enter Password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success mt-2 float-end px-5" value="Register" />
                </div>
            </form>
           <div class="text-center mt-5">
                <a class="text-primary" asp-action="login" asp-controller="Account">Have an Account?Log In</a>
           </div>
        </div>
    </div>
</div>

