.image-gallery {
    
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-bottom: 2%;
  }
  
  .image-gallery img {
    margin: 15px;
    width: calc(33.33% -10px); /* Adjust the width as needed */
    max-width: 500px; /* Maximum width of each image */
    height: auto; /* Maintain aspect ratio */
  }



  

 